body
{
	font-family: 'Handlee', cursive;

}
/*Navbar*/
.transparent
{
	background: rgba(0,0,0,0.5);

}

.navbar-toggler-icon
{
	border:5px solid black;
	padding: 30px;
	background-color: #F15025;
}

.nav-link,.navbar-brand
{
	color: #F15025!important;
	font-size: 25px;
}
.navbar a:hover
{
	color: #ffe7e0!important;
}
/*End of navbar*/

header
{
	height: 100vh;
	background: url("images/2.jpg") fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-center
{
	height: 100vh;
	color: #ffe7e0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner-underline
{
	width:300px;
	border: 3px solid #f24110;
	margin: 0px auto 20px;
}
.banner-center a
{
	font-size: 30px;
	width: 300px;
	margin:0px auto;
	display: inline-block;
	border:3px solid #ffe7e0;
	color: #ffe7e0;
	border-radius: 20px;
	text-decoration: none;
}
.banner-center a:hover,
.banner a:focus
{
	color: #f24110;
	background-color: #ffe7e0;
}
/*End of Banner*/

/*Title*/
.title
{
	margin:20px 0;

}
.title-underline
{
	width:150px;
	border: 3px solid #f24110;
	margin: 0px auto 10px auto;
}


/*End of Title*/

/*Skill Section*/
#skills
{
	padding: 40px;
	color: #2D3142;
	margin-bottom: 10px;
}
#skills .fa
{
	font-size: 50px;
	margin-bottom: 10px;
}
#skills a
{
	margin-bottom: 20px;
	background-color: #F15025;
	color: #ffe7e0;
	font-size: 20px;
}
#skills a:hover
{
	background-color: #CED0CE;
	color: #f24110;
}
/*End of Skill Section*/
/*About*/
#about
{
	background-color: #203142;
}
#about .pic
{
	height:600px;
	background:url("images/3.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 600px solid transparent;
	border-left: 100px solid #203142;
}
#about .box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media only screen and (max-width: 600px)
{
	#about .pic
	{
		display: none;
	}
} 

/*End of about*/
/*Work Section*/
 .thumb{
            margin-bottom: 40px;
        }
        
        .page-top{
            margin-top:85px;
        }
        #work-div
        {
        	background-color: #203142 !important;
        	
        	padding: 20px;
        }
img.zoom {
    width: 90%;
    height: auto;
    max-height: 300px;
   
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
/*End of work section*/

/*Contact*/
#contact
{
	padding: 40px;
	background-color: #fcf4f2;

}

#contact .form-control
{
	border-radius: 0!important;
	font-size:  20px;

}
#contact button
{
	background-color: #353531;
	font-size: 24px;
	color: #f24110;
	margin-bottom: 20px;
}
#contact button:hover
{
	background-color: #CED0CE;
}


/*End of Contact Section*/
/*Footer Section*/
#footer
{
	padding: 40px;
	color: #ffe7e0;
	background-color: #353531;

}

#footer .title-underline
{
margin-bottom: 40px;
}
#footer .footer-icons
{
	font-size: 60px;
	padding-top: 30px;

}
#footer .footer-icons a
{
	color: deepskyblue;
	text-decoration: none;
}

#footer .footer-icons a:hover
{
	color: #F15025;
}
#footer .copyrights h4
{
	padding: 40px 0;
	color: #CED0CE;
}
/*End of footer*/